<nav class="navbar sticky-top navbar-toggleable-md navbar-light">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand p-0" href="/">
            <img src="/images/my-logo.png" class="d-inline-block align-top" alt="">
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item <% if (pageUrl == 'news') { %>active<% } %>">
                    <a class="nav-link" href="/news">News <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item <% if (pageUrl == 'category') { %>active<% } %>">
                    <a class="nav-link" href="/category">Category</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="POST" action="/news/search">
                <input class="form-control" type="text" placeholder="Search news" name="search" required>
                <button role="button" class="btn my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
</nav>
