<% layout('../layouts/app') -%>

<div id="searchNews" class="container py-5">
    <div class="align-middle d-flex w-100 justify-content-between mb-3 head">
        <h3 class="m-0">Search News: <%= data.search %></h3>
        <select role="button" class="form-control form-control-sm" id="category" name="category">
            <option value="0">Select category</option>
            <option>Politic</option>
            <option>Tech</option>
        </select>
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><u>List group item heading</u></h5>
            <small>3 days ago</small>
        </div>
        <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum, ipsum non semper accumsan, lacus ante congue arcu, a egestas leo diam accumsan nisi. In hac habitasse platea dictumst. Proin venenatis eget dolor ac hendrerit. Praesent volutpat sollicitudin ornare. Nulla a turpis orci. Proin elementum faucibus fringilla. Sed sit amet quam accumsan, blandit massa quis, congue elit. Duis condimentum lacus sed quam posuere condimentum.</p>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><u>List group item heading</u></h5>
            <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum, ipsum non semper accumsan, lacus ante congue arcu, a egestas leo diam accumsan nisi. In hac habitasse platea dictumst. Proin venenatis eget dolor ac hendrerit. Praesent volutpat sollicitudin ornare. Nulla a turpis orci. Proin elementum faucibus fringilla. Sed sit amet quam accumsan, blandit massa quis, congue elit. Duis condimentum lacus sed quam posuere condimentum.</p>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><u>List group item heading</u></h5>
            <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum, ipsum non semper accumsan, lacus ante congue arcu, a egestas leo diam accumsan nisi. In hac habitasse platea dictumst. Proin venenatis eget dolor ac hendrerit. Praesent volutpat sollicitudin ornare. Nulla a turpis orci. Proin elementum faucibus fringilla. Sed sit amet quam accumsan, blandit massa quis, congue elit. Duis condimentum lacus sed quam posuere condimentum.</p>
      </a>
    </div>
</div>
